<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

  <title>Document</title>
</head>
<body>

  <div class="container">
    <div class="loginpage">
    <h1>NLP APP</h1>
    <h3>Login here</h3>
      <form action="" method="">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    
        <label for="Password">Password:</label>
        <input type="password" id="password" name="password" required>
    
        <!-- <button type="submit" value="Login">Login</button> -->
        <input type="submit" value="Login">
      </form>

      <p>Not a member? <a href="/register">Register Here</a></p>

    </div>
  </div>
  
</body>
</html>